[project]
	description = Alon Private tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alon-strik
[access "refs/for/refs/*"]
	read = group user/alon-strik
	push = group user/alon-strik
	label-Code-Review = -2..+2 group user/alon-strik
	label-Verified = -1..+1 group user/alon-strik
	rebase = group user/alon-strik
	removeReviewer = group user/alon-strik
	submit = group user/alon-strik
[access "refs/heads/*"]
	read = group user/alon-strik
	create = group user/alon-strik
	push = +force group user/alon-strik
	pushMerge = group user/alon-strik
[access "refs/tags/*"]
	push = group user/alon-strik
	push = +force group user/alon-strik
